{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}Update Profile{% endblock%}
{% block content %}
    <div class="edit-profile-container flex flex-col items-center pt-5">
      <h2 class="text-3xl">Change Username</h2>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% if form.username.errors %}
          <div class="invalid-feedback">{{ form.username.errors }}</div>
        {% endif %}
        <button type="submit" class="my-2 text-white bg-red-500 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm sm:w-auto px-2 py-1 text-center dark:bg-red-600 dark:hover:bg-red-500 dark:focus:ring-red-800">Submit</button>
      </form>
    </div>
{% endblock content %}