{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'scripts/all.min.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>uTube</title>
</head>
<body class="bg-zinc-300">
    <nav class="flex items-center text-white bg-black px-4" role="navigation" aria-label="main navigation">
        <div class="navbar-brand mr-16">
            <a class="navbar-item flex flex-row items-center" href="/">
                <img src="{%  static 'utube.svg' %}" alt='utube-logo'>
                <span class="pl-3">uTube</span>
            </a>
        </div>
        <div class="center grow text-center">
            <p>Search</p>
        </div>
        {% if user.is_authenticated %}
            <div class="end navbar-menu flex items-center">
                <a class="navbar-item p-5" href="{% url 'video_create' %}"><i class="fa-solid fa-cloud-arrow-up"></i></a>
                <div class="user-options flex flex-col items-end">
                    <a href="{% url 'user_detail' user.id%}">{{user.username}}</a>
                    <a href="{% url 'edit_profile' user.id%}">Edit your profile</a>
                    <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        {% else %}
            <div class="end navbar-menu flex items-center">
            <a class="navbar-item p-5" href="{% url 'signup' %}">Sign Up</a>
            <a class="navbar-item p-5" href="{% url 'login' %}">Log In</a>
            </div>
        {% endif %}
    </nav>
    <div class="container min-w-full">

        {% block content %}{% endblock %}

    </div>
</body>
</html>