{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <div class='video-grid grid grid-cols-12 gap-6 p-4 sm:p-6 lg:p-12 xl:p-24 2xl:px-28'>
        {% for video in videos %}
        <div class="video col-span-12 md:col-span-4 lg:col-span-3 flex flex-col">
            <a href="{% url 'video_detail' video.pk %}">
                {% if video.thumbnail %}
                <img src="{{video.thumbnail}}" alt="thumbnail">
                {% else %}
                <img src="{% static 'no_thumb_placeholder.jpg' %}" alt="pending-thumbnail">
                {% endif %}
                <span class='font-bold'>{{video.title}}</span>
                <a class='text-zinc-400' href="{% url 'user_detail' video.user.id%}">{{video.user}}</a>
            </a>
            {% if video.view > 1 %}
            <span class='text-zinc-400'>{{video.view}} views • {{video.created_at|timesince|upto:','}} ago</span>
            {% elif video.view <= 1 %}
            <span class='text-zinc-400'>{{video.view}} view • {{video.created_at|timesince|upto:','}} ago</span>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
