{% extends 'base.html' %}

{% block content %}

<h1>uTube Homepage</h1>
    {% for video in videos %}
            <div class="videos">
                <a href="{% url 'video_detail' video.pk %}">
                    <span><b>{{video.title}}</b></span>
                    <br>
                    <img src="{{video.thumbnail}}" alt="">
                    <br>
                    <span>Uploaded by: {{video.user}}</span>
                    <br>
                    {% if video.view > 1 %}
                        <span>{{video.view}} Views • {{video.created_at|date:"M d Y"}}</span>
                    {% elif video.view <= 1 %}
                        <span>{{video.view}} View • {{video.created_at|date:"M d Y"}}</span>
                    {% endif %}
                </a>
              </div>
    {% endfor %}
{% endblock %}
