{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="video-player-container grid grid-cols-12 gap-2">
  <div class="primary col-span-10 pt-6 pr-6 ml-6">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if not thumbnail and video.user_id == user.id %}
      <div class="thumbnail-upload-container">
        <h2>Upload a Thumbnail:</h2>
        <form action="{% url 'add_thumb' video.id %}" enctype="multipart/form-data" method="POST" alt="thumbnail">
          {% csrf_token %}
          <input type="file" name="photo-file">
          <br>
          <input type="submit" value="Upload">
        </form>
      </div>
    {% endif %}
    {% if not media %}
      {% if video.user_id == user.id %}
        <div class="video-upload-container">
          <h2>Upload the Video File:</h2>
          <form action="{% url 'add_media' video.id %}" enctype="multipart/form-data" method="POST" alt="media">
            {% csrf_token %}
            <label for="media-file">We support MP4, WebM, and OGG formats!</label>
            <input type="file" name="media-file">
            <br>
            <input type="submit" value="Upload">
          </form>
        </div>
      {% else %}
        <div class="video-upload-container">
          <h2>Pending on Content Creator to Upload a video</h2>
        </div>
      {% endif %}
    {% elif media %}
      <div class='player flex items-center justify-center'>
        <video src="{{media.url}}" width='1280' height='720' controls></video>
      </div>
    {% endif %}
    <div class="video-info">
      <h1 class="text-lg text-red-600 video-title">{{video.title}}</h1>
      <p>{{video.view}} Views • {{video.created_at|date:"N j Y"}}</p>
      <a href="{% url 'user_detail' video.user.id%}">{{video.user}}</a>
      <div class="description">
        <p>{{short_description}}
          <span id="dots">...</span>
          <span id="more">{{rest_description}}</span>
        </p>
        <button onclick="showMore()" id="myBtn" class="italic font-thin">Read more</button>
      </div>
      {% if video.user_id == user.id %}
        <a href="{% url 'video_update' video.pk %}">
          <span class="icon">
            <i class="fa-regular fa-edit"></i>
          </span>
        </a>
        <a href="{% url 'video_delete' video.pk %}">
          <span class="icon">
            <i class="fa-regular fa-trash-can"></i>
          </span>
        </a>
      {% endif %}
    </div>
    <div class="comments">
      <h2 class='py-5'>
        Comment{{ comments.count|pluralize }}
        <span>{{ comments.count }}</span>
      </h2>
      <div class="add-comment-form">
        <form method='POST'>
          {% csrf_token %}
          <div class="form-group flex flex-col">
            <input class="mb-2 bg-transparent border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 form-control {% if form.body.errors %}is-invalid{% endif %}" id="id_body" name="body" placeholder='add a comment...'
            rows="4">{{ form.body.value|default:'' }}</input>
          </div>
          <button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Comment</button>
        </form>
      </div>
      {% if comments %}
        <div class="comments-list">
          {% for comment in comments %}
            <div class="card p-2">
              <div class="row">
                <div>
                  <a href="{% url 'user_detail' video.user.id%}"><strong>{{ comment.user }}</strong></a>
                  <span><small>{{ comment.created_at|timesince }} ago</small></span>
                </div>
                <div>
                  <p>{{ comment.body }}</p>
                  {% if comment.user_id == user.id %}
                    <a href="{% url 'comment_update' video_pk=video.pk pk=comment.id%}">
                      <span class="icon">
                        <i class="fa-regular fa-edit"></i>
                      </span>
                    </a>
                    <a href="{% url 'comment_delete' video_pk=video.pk pk=comment.id%}">
                      <span class="icon">
                        <i class="fa-regular fa-trash-can"></i>
                      </span>
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="secondary col-span-2 pt-6 pr-6">
    <p>recommendation videos</p>
  </div>
</div>
<script src="{% static 'scripts/extra.js' %}"></script>
{% endblock %}